#project-list {
  margin: 0 auto;
  padding: 5px;
  border: 1px solid 5571FF;
  width: 300px;
}

.project{
  padding: 5px;
  background-color: #f6f9c6;
  margin-bottom: 5px;
}

.project-header{
  background-color: #79bcd8;
}

ul.task-list{
  padding: 5px;
}

form {
  display: inline-block
}

.project-name {
  margin: auto
}

.task {
  width: auto;
  height: 20px;
  display: inline-block;
  margin-top: 3px;
  list-style-type: none;
}

input {
  margin: 5px
}

.remove-item {
  float: right;
  cursor: pointer;
}
