ul.todoList {
    margin: 0 auto;
    padding: 5px;
    border: 1px solid 5571FF;
    background-color: aquamarine;
}

.todoItem {
    width: auto;
    height: 20px;
    background-color: aqua;
    margin-top: 3px;
}